.d-flex
{
    display:flex;
}
.d-flex>div
{
    float: none;
}
.col-auto
{
    flex: 0 0 auto;
    width: 20%;
    max-width: none;
}
/* Page content */
.content{
  padding: 0px;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky{
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 3px gray;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content
{
  padding-top: 60px;
}
.padding-bottom
{
  padding-bottom:20px;
}
.internal-tab1
{
  padding-left:5px;
  padding-right:5px;
  width: 10%;
}
.package-tab-menu .package-tab-menu li a
{
  padding-left:0;
  padding-right:0;
}
.section-title-3 h3
{
     background-color: transparent;
     background-color: transparent;
     background-image: url("../images/line.png");
     background-position: left 54px bottom;
     background-repeat: no-repeat;
     color: #454545;
     font-size: 20px;
     font-weight: 500;
     padding-bottom: 20px;
     position: relative;
          text-transform: capitalize;
     z-index: 2;
}
.section-title-3 h3:before, .section-title-3 h3:after
{
     background: #454545 none repeat scroll 0 0;
     bottom: 4.8px;
     content: "";
     height: 1px;
     left: 0;
     position: absolute;
     width: 45px;
}
.section-title-3 h3:after
{
     left: 88px;
}
.popular-packages-carasoul .owl-nav 
{
     text-align: center;
     top: -20px;
     position: relative;
}
.popular-packages-carasoul .owl-nav .owl-prev,.popular-packages-carasoul .owl-nav .owl-next
{
     margin: 10px;
     background: #034ea2 !important;
     border-radius: 4px;
     transition: all ease-in-out 0.3s !important;
     padding: 0 12px; 
}
.popular-packages-carasoul .owl-nav .owl-prev:hover,.popular-packages-carasoul .owl-nav .owl-next:hover
{
     background: #ed1c24 !important;
     box-shadow: 0 0 10px gray;
}
.popular-packages-carasoul .owl-dots
{
     display: none;
}
.package-tab-menu .int-tab li a
{
     padding:0px;
}
.package-tab-menu .int-tab2
{
     width:12%;
}
.header-top-area .header-top-left .header-top-contact a
{
     color: white;
}
.col-sm-6 h5
{
     margin-bottom: 0px;
}
.timeline-content img
{
     width: 3%;
}
.popular-country .container
{
     padding: 0;
     width: unset;
}
.resort-table li:before
{
     content: "\2731";
     padding-right:2px;
}
.resort-table
{
     padding: 0px 0 5px 0;
     font-size: 13px;
     margin-right: 10px;
}
.amenities-sec
{
	display:grid;
	text-align:center;
	font-weight:bold;
	align-content:center;
}
.amenities-sec img
{
	width:40%;
}
.amenities-sec span
{
	font-size:13px;
}
.sec1
{
	padding: 20px 0 20px 0;
}
.fact-file p
{
	margin-bottom: 15px;
}
.fact-file span
{
     color: #727272;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	padding-bottom:10px;
}
.fact-file .col-md-7,.fact-file .col-md-5
{
     padding-bottom:15px;
}
.resort-table .row
{
	padding-bottom:3px;
	padding-top:3px;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.3); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  opacity:1;
  color: white;
  font-size: 13px;
  padding: 3px;
  text-align: center;
}
.resort-table li
{
	padding:3px 0 3px 0;
}
.single-country
{
	box-shadow: 0 0 7px white !important;
	border-radius: 6px;
}
.single-package-carasoul:hover
{
	transition: all 0.3s ease 0s;
}
.booking-title
{
	font-size:25px;	
	text-align:center;
	padding: 10px 0;
}
.timeline-content
{
	text-align:left;
}
.timeline-content .box
{
	background-color: white;
	border-radius: 5px;
}
.timeline-content .resort-box
{
     background-color: #f5f5dc;
	border-radius: 5px;
}
.timeline-content .box:hover, .timeline-content .resort-box:hover
{
	box-shadow: 0 0 5px;
     transition: all 0.3s ease-in-out;
}
.header-bottom-area .main-menu  li:hover  a {
     color: #034ea2;
}
.header-bottom-area .tab-a > li > a {
     display: block;
     color: black;
     font-size: 17px;
     text-decoration: none;
     font-weight: 500;
     position: relative;
     text-align:center;
}
.header-bottom-area .tab-a > li.active a {
     color:  #034ea2 !important;
}
.header-bottom-area .tab-a > li {
     display: inline-block;
     padding: 10px 40px 10px 40px;
     position: relative;
     box-shadow: 0 0px 1px gray;
     background: #004cff1c;
}
.header-bottom-area .tab-a
{
	text-align:center;
}
.header-bottom-area .tab-b
{
	text-align:center;
	padding: 10px;
	margin-top: 10px;
}
.header-bottom-area .tab-b > li > a {
     display: block;
     color: black;
     font-size: 15px;
     text-decoration: none;
     font-weight: 500;
     position: relative;
     text-align:center;
}
.header-bottom-area .tab-b > li.active a {
     color:  #034ea2 !important;
}
.header-bottom-area .tab-b > li {
     display: inline-block;
     padding: 0px 20px 0px 20px;
     position: relative;
}

.header-bottom-area .tab-c > li > a {
     display: block;
     color: black;
     font-size: 17px;
     text-decoration: none;
     font-weight: 500;
     position: relative;
     text-align:center;
}
.header-bottom-area .tab-c > li.active a {
     color: #034ea2 !important;
}
.header-bottom-area .tab-c > li {
     display: inline-block;
     padding: 10px 23px 10px 23px;
     position: relative;
     box-shadow: 0 0px 1px gray;
}
.header-bottom-area .tab-c
{
	text-align:center;
	padding: px;
}
.header-bottom-area .tab-c li
{
     background: #004cff1c;
}
.header-bottom-area .tab-d > li > a {
     display: block;
     color: black;
     font-size: 17px;
     text-decoration: none;
     font-weight: 500;
     position: relative;
     text-align:center;
}
.header-bottom-area .tab-d > li.active a {
     color:  #034ea2 !important;
}
.header-bottom-area .tab-d > li {
     display: inline-block;
     padding: 10px 32px 10px 32px;
     position: relative;
     box-shadow: 0 0px 1px gray;
     background: #004cff1c;
}
.header-bottom-area .tab-d
{
	text-align:center;
}

.header-bottom-area .tab-e > li > a {
     display: block;
     color: black;
     font-size: 17px;
     text-decoration: none;
     font-weight: 500;
     position: relative;
     text-align:center;
}
.header-bottom-area .tab-e > li.active a {
     color:  #034ea2 !important;
}
.header-bottom-area .tab-e > li {
     display: inline-block;
     padding: 10px 20px;
     position: relative;
     box-shadow: 0 0px 1px gray;
     background: #004cff1c;
}
.header-bottom-area .tab-e
{
	text-align:center;
}
.section-title2 h2, .section-title-white h2, .section-title-white-2 h2 {
     background-color: transparent;
     background-image: url("../images/line4.png");
     background-repeat: no-repeat;
     color: #454545;
     font-size: 30px;
     font-weight: 500;
     padding-bottom: 20px;
     position: relative;
     background-position: center bottom;
     z-index: 2;
}
.section-title2 h2:before, .section-title2 h2:after, .section-title-white h2:before, .section-title-white h2:after, .section-title-white-2 h2:before, .section-title-white-2 h2:after 
{
     background: #454545 none repeat scroll 0 0;
     bottom: 3.8px;
     content: "";
     height: 1px;
     left: -180px;
     margin: 0 auto;
     position: absolute;
     right: 0;
     text-align: center;
     width: 160px;
}
.section-title2 h2:after, .section-title-white h2:after, .section-title-white-2 h2:after 
{
     left: 180px;
}
.demo ul
{
	list-style: none outside none;
	padding-left: 0;
	margin: 0;
}
.demo .item
{
	margin: 10px 0 10px 0;
}
.demo
{
	margin-top: 30px;
}
.demo img
{
	width: 100%;
	height:500px;
	object-fit: cover;
}
.fig-text
{
	padding: 10px 0 5px 0;
	text-align: center;
	z-index: 1;
}
.tab-pane .section-title
{
	margin: 5px 0;
}
.logo-area img
{
     max-width: 90%;
}
.subscribe-form
{
     padding: 2px 0;
}
.discount-package
{
     margin-top: 40px;
     margin-bottom: 40px;
}
.top-destination-area .single-hotels
{
     position: relative;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     margin-bottom: 30px;
     border-radius: 10px;
}
.top-destination-area .single-hotels .hotel-image
{
     position: relative;
     overflow: hidden;
     border-radius: 10px 10px 0 0;
}
.top-destination-area .single-hotels .hotel-image img
{
     transform: scale(1.2);
     transition: all 0.6s ease-in-out;
     border-radius: 0;
}
.top-destination-area .single-hotels:hover .hotel-image img
{
     transform: scale(1);
}
.top-destination-area .single-hotels .hotel-image img
{
     width: 100%;
}
.top-destination-area .hotel-description
{
     padding: 10px;
}
.top-destination-area .hotel-description h4
{
     color: #034ea2;
     margin-bottom: 0;
}
.top-destination-area .hotel-description h4:hover
{
     color: #ed1c24;
	transition: all 1s ease 0s;
}
.top-destination-area a
{
     text-decoration: none;
}
.hotels-area
{
     padding: 20px 0;
}
.hotels-area img
{
     width: 40%;
}
.main-menu .fa
{
     font-size: 19px;
}
.left-btn
{
     float: left;
}
.right-btn
{
     float: right;
}
.razorpay-payment-button .PaymentButton
{
     min-width: 100px !important;
}
.single-package-area .header-bottom-area
{
     margin-top: 20px;
}
.tab-content .header-bottom-area
{
     margin-top: 0px;
}
.timeline-content .discount-package-4-btn
{
     float: right;
     padding-bottom: 10px;
}
.resort-table .discount-package-4-btn
{
     float: none;
}
.mean-container .mean-bar .mean-link
{
     color: #ffffff;
     font-size: 18px;
     left: 10px;
     position: absolute;
     text-transform: uppercase;
     font-weight: 700;
}
.form-group p,
.form-group span
{
     margin: 20px 0px;
     font-weight: 600;
     color: #454545;
     font-size: 15px;
}
form p
{
     margin: 20px 15px 0px 15px;
     font-weight: 900;
     color: #454545;
     font-size: 20px;
     font: "Open Sans", sans-serif;
}
header .header-bottom-area .main-menu li:last-child
{
     background: #034ea2 !important;
     padding: 10px;
     margin: 5px;
}
header .header-bottom-area .main-menu .dropdown li:last-child
{
     background: none !important;
     padding: 0;
     margin: 0;
}
header .header-bottom-area .main-menu li:last-child a
{
     color: white;
     font-size: small;
}


header a:hover,a:focus
{
     background: none;
}
header .main-menu a:focus
{
     color: #034ea2;
}
#tab7 .main-menu a:focus, a:hover
{
     background: none;
}
.discount-package-4-btn a:hover
{
     background: #ed1c24 !important;
}
.mean-nav li:last-child
{
     background: #034ea2 !important;
}
.mean-nav .dropdown li:last-child
{
     background: none !important;
}
.form-group
{
     font-family: 'Open Sans', sans-serif;
     font-size: 15px;
     color: #454545;
}
.hotet-book-btn .travel-primary-btn
{
     visibility: hidden;
}
.single-hotels ul
{
     padding: 2% 40%;
}
.single-package-carasoul .package-location span img
{
     padding: 0 25px 25px 0 ;
}
.box .resort-table .discount-package-4-btn  a
{
     background: #034ea2;
}
.box .resort-table .discount-package-4-btn a:hover
{
     background: #ed1c24;
     color: white;
     transition: 0.3s all ease-in;
}
.fact-file
{
     text-align: left;
}
.amenities-row span
{
     padding: 0 5px;
}
.amenities-row span:nth-child(1)
{
     padding-left: 0;
}
.logo-box img
{
     border: 1px solid gray;
}
.to-top a:hover
{
     background: #034ea2;
}
i
{
     font-family: 'Open Sans', sans-serif;
     font-size: 17px;
}
.form-control 
{ 
     /* Chrome, Firefox, Opera, Safari 10.1+ */
     font-family: 'Open Sans', sans-serif;
     opacity: 1; /* Firefox */
}
.footer-contact-form .form-group
{
     margin-bottom: 5px;
     padding: 0;
}
.tagline i
{
     font-size: 24px;
}
.anutri-logo
{
     color: #383839;
     font-family: "Poiret One", sans-serif;
     font-size: 2em;
     font-weight: 600;
}
.demo .overlay
{
     width: inherit;
}
button
{
     font-family: 'Open Sans', sans-serif !important;
}
.carousel .carousel-control span
{
     top: 50%;
     position: absolute;
     font-size: 30px;
     margin-top: -20px;
}
.hotel-description h5
{
     font-weight: bold;
}
.top-destination-area .single-hotels:hover .hotel-description h5
{
     color: #ed1c24;
     transition: all ease-in-out 0.3s;
}
.testimonial-area-5 .owl-nav
{
     visibility: hidden;
     position: absolute;
}
.career-menu a
{
     text-decoration: none;
}
.career-menu .career-top-area
{
     background: #bcbec0;
     padding: 25px 50px 25px 25px;
     border-radius: 10px 10px 0 0;
     color: rgb(3,78,162);
     transition: all 0.3s ease-in-out;
     text-align: left;
}
.career-menu .col-md-4:hover .career-top-area
{
     background: rgb(3,78,162);
     color: white
}
.career-menu .career-bottom-area
{
     padding: 25px;
     border: 1px solid gray;
     border-radius: 0 0 10px 10px;
     border-top: none;
     margin-bottom: 15px;
     text-align: left;
}
.career-menu .career-bottom-area .career-button
{
     text-align: center;
     border: 1px solid lightgray;
     background: #034ea2;
     border-radius: 5px;
     color: white;
     width: 80px;
     font-size: 14px;
}
.career-content
{
     border: 1px solid gray;
     border-radius: 5px;
     margin: 15px;
}
.career-content img
{
     width: max-content;
}
.career-menu .career-bottom-area-hidden-btn
{
     background: #034ea2 none repeat scroll 0 0;
     display: block;
     width: calc(100% - 30px);
     text-align: center;
     padding: 15px 0;
     position: absolute;
     bottom: -63px;
     opacity: 0;
     visibility: hidden;
     transition: all ease-in-out 0.3s;
     left: 15px;
     font-size: 17px;
     font-weight: 500;
     border-radius: 0 0 10px 10px;
}
.career-menu .career-bottom-area-hidden-btn a
{
     color: white;
}
.career-menu .hvr-shutter-out-horizontal:before
{
     border-radius: 0 0 10px 10px;
}
.testimonial-area-5 .single-testimonial .img-box img
{
     width: auto;
     height: 250px;
}
.testimonial-area-5 .single-testimonial .testimonial-messages i
{
     font-size: 20px;
}
.resort-box h3, .resort-box h4
{
     color: rgb(133, 61, 9);
}
.footer-contact li a:hover
{
     color:  white !important;
     font-weight: bold !important;
}
.footer-contact li .ftrr-txt-ttl-dsc
{
     color: initial;
     font-weight: initial;
}
.single-travel a
{
     transition: all ease-in-out 0.5s;
     color: #424242;
}
.single-travel:hover a
{
     color: #034ea2;
}
.single-travel p
{
     text-align: center;
}
.col-md-12 .subscribe-title a
{
     border: 1px solid #666;
     border-radius: 5px;
     padding: 5px;
     text-decoration: none;
     background: #049DD9;
     background: -webkit-linear-gradient(to right, #049DD9 0%, #f2911b 100%);
     background: -moz-linear-gradient(to right, #049DD9 0%, #f2911b 100%);
     background: linear-gradient(to right, #049DD9 0%, #f2911b 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     
}
.arrowslides
{
     padding: 20px 0 80px;
}
.arrow
{
     width: 35px;
     height: 35px;
     border: 7px solid;
     border-color: black transparent transparent black;
     transform: rotate(225deg);
}
.arrowSliding
{
     position: absolute;
     -webkit-animation: slide 4s linear infinite; 
             animation: slide 4s linear infinite;
     left: 0;
     right: 0;
     margin-left: auto;
     margin-right: auto;
     width: 35px;
}
.delay1
{
     -webkit-animation-delay: 1s; 
       animation-delay: 1s;
}
.delay2
{
     -webkit-animation-delay: 2s; 
       animation-delay: 2s;
}
.delay3
{
     -webkit-animation-delay: 3s; 
       animation-delay: 3s;
}
@-webkit-keyframes slide
{
     0% { opacity:0; transform: translateY(-30px); }	
     30% { opacity:1; transform: translateY(-10px); }	
     70% { opacity:1; transform: translateY(10px); }	
     100% { opacity:0; transform: translateY(30px); }	
}
@keyframes slide
{
     0% { opacity:0; transform: translateY(-30px); }	
     30% { opacity:1; transform: translateY(-10px); }	
     70% { opacity:1; transform: translateY(10px); }	
     100% { opacity:0; transform: translateY(30px); }	
}
.kkavion-ico
{
     padding: 10px;
     background: #bcbec0;
     border-radius: 100%;
     margin: 0 auto;
     width: 80px;
     transition: all ease-in-out 0.5s;
}
.kkavion-ico i
{
     font-size: 40px;
     color: #034ea2;
     transition: all ease-in-out 0.5s;
}
.single-travel:hover .kkavion-ico
{
     background: #034ea2;
}
.single-travel:hover .kkavion-ico i
{
     color: white;
}
.career-content p, .career-content li
{
     color: gray;
}
.career-content i
{
     font-family: 'Oxygen', sans-serif;
     font-size: 15px;
}
.footer-contact li .ftrr-txt-ttl-dsc:hover
{
     color: white !important;
     font-weight: 400 !important;
}